AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
EC2_INSTANCE_ID=i-0xxxxxxxxxxxxxxx
GITLAB_HOST=gitlab.yourdomain.com
SSH_KEY_PATH=/home/ubuntu/.ssh/id_rsa
DASHBOARD_API_KEY=change-me-to-a-strong-secret
SNS_TOPIC_ARN=arn:aws:sns:ap-south-1:ACCOUNT:gitlab-alerts
EVENTBRIDGE_RULE_STOP=gitlab-ec2-stop-weekday
EVENTBRIDGE_RULE_START=gitlab-ec2-start-weekday
EVENTBRIDGE_RULE_WEEKEND_STOP=gitlab-ec2-stop-weekend
EVENTBRIDGE_RULE_WEEKEND_START=gitlab-ec2-start-weekend
LAMBDA_START_ARN=
LAMBDA_STOP_ARN=
SSL_DOMAINS=gitlab.yourdomain.com
